@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">My Landing Page</div>
            <div class="panel-body">

                <div class="table-responsive">
                  
                </div>
            </div>
        </div>
    </div>
</div>
