@{
    ViewBag.Title = "Control Types Demo";
}

<h1>Control Types Demo</h1>

@Html.ActionLink("Autocomplite (Simple)", "AutocompliteSimple", "ControlTypeDemo") <br />
@Html.ActionLink("Autocomplite (Multi Select)", "AutocompliteMulti", "ControlTypeDemo") <br />
@Html.ActionLink("Error message displaying", "ErrorMessageDisplay", "ControlTypeDemo") <br />