@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="alert alert-danger" role="alert">
    <strong>Exception!</strong> Please contact the system administrator for assistance.
    <p>
        @Model.Exception.Message
    </p>
    <p>
        @Model.Exception.StackTrace
    </p>
</div>
