@{
    ViewBag.Title = "Not Found";
}
<div class="alert alert-danger" role="alert">
    <strong>Not Found!</strong> The resource you are looking for is not found. Please contact the system administrator for assistance.
</div>