@model LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>@ViewBag.Title</h1>

<p class="message-success">@ViewBag.StatusMessage</p>

@Html.Partial("_ChangePasswordPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
